[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
black = "*"
openai = "*"
boto3 = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
pillow = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
drf-writable-nested = "*"

[dev-packages]

[requires]
python_version = "3.10"
